{% extends 'layout.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4" id="targets-div">
        </div>
        <div class="col-md-4">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="col-md-4">
            <i class="fa fa-satellite-dish"></i>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    function getSpoofedList(){
        var port = "{{ port | safe }}";
        var url = "http://localhost:"+port+"/api/arp_spoof";
        $.ajax({
            url: url,
            type: 'GET',
            dataType : 'json',
            success: function(response) {
                //$("#resultsTbody").empty(); //Clear Table
                var num = 0;
                for (element in response){
                    var target_ip_addr  = response[element]["target_ip_addr"];
                    var target_mac_addr = response[element]["target_mac_addr"];
                    var router_ip_addr  = response[element]["router_ip_addr"];
                    var router_mac_addr = response[element]["router_mac_addr"];
                    var interceptor     = response[element]["interceptor"];
                    

                    var targ_ip_field   = $("<p></p>").text(target_ip_addr)
                    var target_mac_field= $("<p></p>").text(target_mac_addr)

                    $('#targets-div').append('<div class="row"></div>')
                    $('#targets-div .row').append('<div class="card" style="width: 12rem;"></div>')
                    $('#targets-div .row .card').append('<i class="fa fa-desktop"></i>')
                    $('#targets-div .row .card').append('<div class="card-body"></div>')
                    $('#targets-div .row .card .card-body').append(targ_ip_field)
                    $('#targets-div .row .card .card-body').append(target_mac_field)
                    num = num + 1; //Increment Index
                }
            }
        });
    } 
</script>

<script type="text/javascript">
    $(document).ready(function(){
        getSpoofedList();
    })
</script>
{% endblock %}